*, *::before, *::after {
  box-sizing: border-box;
}

/* Core Variables */
:root {
  --bg: #0d0d0d;
  --text-primary: #eeeeee;
  --text-secondary: #999999;
  --border: #333333;  
  --accent: #ffffff;
  --font-secondary-size: 0.85rem;
  --v-spacing: 3em;
  --h-spacing: 1.5em;
}
body {
  background-color: var(--bg);
  color: var(--text-primary);
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  overflow-x: hidden;
}

h1, h2, h3 {
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.123em;
  text-transform: uppercase;
  line-height: 0.5em;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.1em;
}

a {
  color: var(--text-primary);
  text-decoration: underline;
  text-decoration-color: var(--text-secondary);;
  text-underline-offset: 4px;
  transition: all 0.2s ease;
}

a:hover {
  text-decoration-color: var(--accent);
  color: var(--accent);
}

ul {
  list-style: none;
  padding-left: 0;
}

main {
  max-width: 65ch;
  width: 100%;
  margin: 4em auto;
}

@media (max-width: 600px) {
  main {
    margin: 30px auto;
    padding: 0 1rem;
  }
}

article {
  padding-right: 1em;
}

article header {
  margin-bottom: 2em;
}

code {
  font-family: ui-monospace, "Cascadia Code", monospace;
  background: var(--text-secondary);
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-size: 0.9em;
  border: 1px solid var(--border);
}

pre {
  background: var(--text-secondary);
  padding: 1.5rem;
  overflow-x: auto;
  border: 1px solid var(--border);
  border-radius: 4px;
}

time, .meta, .dim, footer, small {
  color: var(--text-secondary);
  font-family: ui-monospace, "Cascadia Code", monospace;
  font-weight: 300;
  font-size: var(--font-secondary-size);
}

footer {
  text-transform: uppercase;
  padding: var(--v-spacing) 0px;
}
hr {
  border: 0;
  height: 1px;
  background: var(--border);
  margin: var(--v-spacing) auto;
}

.align-horizontal {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: var(--v-spacing); 
}
img.logo {
  width: 50px;
  height: auto;
}
