/* Core Variables */
:root {
  --bg: #0d0d0d;
  --text-primary: #e3e3e3;
  --text-secondary: #555555;
  --border: #333333;  
  --accent: #ffffff;
  --v-spacing: 3em;
  --h-spacing: 1.5em;
}
body {
  background: black;
  color: white;
  font: 16px/1.5 sans-serif;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
body {
  background-color: var(--bg);
  color: var(--text-primary);
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.6;
  margin: 40px auto;
  padding: 0 20px;
  word-wrap: break-word;
}

h1, h2, h3 {
  color: #ffffff;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

a {
  color: var(--text-primary);
  text-decoration: underline;
  text-decoration-color: var(--text-secondary);;
  text-underline-offset: 4px;
  transition: all 0.2s ease;
}

a:hover {
  text-decoration-color: var(--accent);
  color: var(--accent);
}

article {
  max-width: 65ch;      /* Sets width based on the character '0' of your font */
  width: 100%;          /* Ensures it shrinks on mobile */
  margin: 60px auto;    /* Centers the column */
  padding: 0 1.5rem;    /* Prevents text from touching screen edges on phones */
}

code {
  font-family: ui-monospace, "Cascadia Code", monospace;
  background: var(--text-secondary);
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-size: 0.9em;
  border: 1px solid var(--border);
}

pre {
  background: var(--text-secondary);
  padding: 1.5rem;
  overflow-x: auto;
  border: 1px solid var(--border);
  border-radius: 4px;
}

small {
  font-size: 12px;
}

time, .meta {
  font-size: 1rem;
}

footer {
  color: var(--text-secondary);
  text-transform: uppercase;
}
hr {
  border: 0;
  height: 1px;
  background: var(--border);
  margin: var(--v-spacing) auto;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: var(--v-spacing); 
}
img.logo {
  width: 70px;
  height: auto;
}

.dim {
  color: var(--text-secondary);
}