*, *::before, *::after {
  box-sizing: border-box;
}

/* Core Variables */
:root {
  --bg: #0d0d0d;
  --text-primary: #eeeeee;
  --text-secondary: #666666;
  --border: #333333;  
  --accent: #ffffff;
  --v-spacing: 3em;
  --h-spacing: 1.5em;
}
body {
  background-color: var(--bg);
  color: var(--text-primary);
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  overflow-x: hidden;
}

h1, h2, h3 {
  color: #ffffff;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

a {
  color: var(--text-primary);
  text-decoration: underline;
  text-decoration-color: var(--text-secondary);;
  text-underline-offset: 4px;
  transition: all 0.2s ease;
}

a:hover {
  text-decoration-color: var(--accent);
  color: var(--accent);
}

main {
  max-width: 65ch;
  width: 100%;
  margin: 4em auto;
}

@media (max-width: 600px) {
  main {
    margin: 30px auto;
    padding: 0 1rem;
  }
}

article {
  padding-right: 1em;
}

code {
  font-family: ui-monospace, "Cascadia Code", monospace;
  background: var(--text-secondary);
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-size: 0.9em;
  border: 1px solid var(--border);
}

pre {
  background: var(--text-secondary);
  padding: 1.5rem;
  overflow-x: auto;
  border: 1px solid var(--border);
  border-radius: 4px;
}

small {
  font-size: 12px;
}

time, .meta {
  font-size: 1rem;
}

footer {
  color: var(--text-secondary);
  text-transform: uppercase;
  padding: 1em 0px;
}
hr {
  border: 0;
  height: 1px;
  background: var(--border);
  margin: var(--v-spacing) auto;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: var(--v-spacing); 
}
img.logo {
  width: 70px;
  height: auto;
}

.dim {
  color: var(--text-secondary);
}