body {
    background: black;
    color: white;
    font: 16px/1.5 sans-serif;
}
.container {
    max-width: 600px;
    margin: 40px auto;
}
img.logo {
    float: right;
}
a {
    // off white
    color: #eee;
}
hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin-top: 30px;
}
